// Variables for legacy browser support.
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;
$legacy-support-for-mozilla: false;

// Don't print media queries & print no query fallbacks.
// github.com/Team-Sass/breakpoint/wiki/No-Query-Fallbacks
$breakpoint-no-queries: true;
$breakpoint-no-query-fallbacks: true;

@import 'partials/global';
@import 'partials/base';
@import 'partials/utilities';
@import 'partials/layout';
@import 'partials/components';
@import 'partials/quick-fixes';
