// @file
// Generic grid styles.

$gutter-width: 1em;

.l-grid__row {
  @extend %clearfix;
  margin-left: -$gutter-width;
  margin-right: -$gutter-width;
}

.l-grid__column {
  float: left;
  padding: 0 $gutter-width;
  width: 100%;
}

.l-grid--cols-2 .l-grid__column {
  width: (1/2) * 100%;
}

.l-grid--cols-3 .l-grid__column {
  width: (1/3) * 100%;
}

.l-grid--cols-4 .l-grid__column {
  width: (1/4) * 100%;
}

.l-grid--cols-5 .l-grid__column {
  width: (1/5) * 100%;
}

.l-grid--cols-6 .l-grid__column {
  width: (1/6) * 100%;
}
