// @file
// Styles for buttons.

.button {
  @include adjust-font-size-to($font-size-md);
  @include background-image(
    linear-gradient(
      top,
      $gradient-light 0%,
      $gradient-dark 100%
    )
  );
  @include border-radius();
  @include box-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05));
  background-color: $button-bg-color;
  border: 1px solid darken($button-bg-color, 20%);
  border-bottom-color: darken($button-bg-color, 25%);
  border-top-color: darken($button-bg-color, 15%);
  color: $button-text-color;
  cursor: pointer;
  display: inline-block;
  font-family: $button-font-family;
  margin: 0 0 rhythm(1);
  padding: 0 0.5em;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: baseline;

  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *line-height: normal;
    *zoom: 1;
  }

  &:focus,
  &:hover {
    background-color: lighten($button-bg-color, 20%);
    border-color: darken($button-bg-color, 50%);
    outline: 0;
  }

  &:active {
    background-color: darken($button-bg-color, 10%);
    border-color: darken($button-bg-color, 30%);
  }

  & + .button {
    margin-left: 1em; // LTR

    [dir="rtl"] & {
    margin-left: 0;
    margin-right: 1em;
    }
  }
}
