// @file
// Styles for form items.

.form-item {
  margin: rhythm(1) 0;
}

.form-item__label {
  display: block;
  font-weight: bold;
}

.form-item__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.form-item__legend {
  font-weight: bold;
}

.form-item__description {
  @include adjust-font-size-to($font-size-md);
  color: $secondary-text-color;
}

.form-item--checkbox,
.form-item--radio {
  .form-item__label {
    display: inline;
    font-weight: normal;
  }
}

.form-item--checkboxes .form-item--checkbox,
.form-item--radio {
  margin: 0;
}

.form-item--date-day,
.form-item--date-month,
.form-item--date-year {
  display: inline-block;
  margin: 0;
}

.form-item--password-confirm-pass-1 {
  margin-bottom: rhythm(0.5);
}

.form-item--password-confirm-pass-2 {
  margin: rhythm(0.5) 0;
}

.form-select,
.form-text,
.form-textarea {
  border: 1px solid $form-border-color;
  font-size: em($form-text-size);
  padding: em(5px, $form-text-size) em(10px, $form-text-size);

  &:focus {
    border-color: darken($form-border-color, 50%);
    outline: 0;
  }
}
